<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>У вас нет доступа к этйо странице</h2>
        <p>Пожалуйста, нажмите кнопку, прежде, чем перейти на главную страницу</p>
        <hr />
        <p>
            <a asp-controller="Movie" asp-action="Index" class="btn btn-outline-success" >Главная</a>
        </p>
    </div>
</div>